

<div>
    <h1><span style="background-color: #000000; color: #ffffff; padding: 0 3px;">Vacas y Toros Game</span>
    </h1>

    <h2> Enter your email <h2>
    <form method="post" action="confirm-cuenta">
        <input type="string"  name="email">
        <h3> Enter your password <h3>
        <input type="string"  name="password">
        <input type="submit" value="login">
    </form>
    
</div>