<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <title>Home</title>
</head>
<body class="alert alert-primary" role="alert">
    <div>
    <h1 class="text-success">Account created </h1>
    <h3 class="text-secondary"><%=    "Your name is: "+ @name+" and your nick name is: "+ @nickName%></h3>
    <form action="menuStarGame">
        <input type="submit" class="btn btn-warning" value="Invite people" />
        <input type="submit" class="btn btn-danger" value="Play" />
    </form>
    </div>
</body>