<div>
    <h1>Account created </h1>
    <h3><%=    "Your name is: "+ @name+" and your nick name is: "+ @nickName%></h3>
    <form action="menuStarGame">
        <input type="submit" value="Invite people" />
        <input type="submit" value="Play" />
    </form>
</div>