
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <title>game</title>
</head>
<body class="alert alert-primary" role="alert"
style="background-image: url(https://image.freepik.com/vector-gratis/granja-animales-toros-vacas_18591-62481.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;">
    <div > 
        <h1 class="text-primary">Vacas y Toros Game</h1>


        <form method="post" action="GuessCodeNumbers">
            <h3 class="text-secondary"> Guess the code:<h3>
            <input type="number" id="guessCode" name="guessCode" placeholder="Enter the code"> 
            <input type="submit" id="guessButton"class="btn btn-success" value="¡Guess!"> 
        </form>

        <form method="post" action="giveup">
            <input type="submit" id="rendirse" class="btn btn-danger" value="Give Up">
        </form>
        

    </div>
</body>