<div>
    <h1><span style="background-color: #000000; color: #ffffff; padding: 0 3px;">Vacas y Toros Game</span>
    </h1>
    <form method="post" action="enterGuessCode" onsubmit="alert('A victor le gustan los penes');">
    <label for="code">Adivine el codigo: </label>
    <input type="number" id="guessCode" name="guessCode" placeholder="Ingrese el codigo"> 
    <input type="submit" value="¡Adivinar!"> 
    </form>
    
</div>