<div>
    <h1>Vacas y Toros Game</h1>
    <form action="login">
        <input type="submit" value="Join(Guest)" />
        
    </form>
    <form action="login-cuenta">
        <input type="submit" value="Log in with Email" />
        <input type="submit" value="Log in with Gmail" />
        <input type="submit" value="Log in with Facebook" />
    </form>
</div>