<div>

    <h1> Login </h1>
    
    <h2> Enter your name <h2>
    <form method="post" action="confirm">
        <input type="string"  name="name">
        <input type="submit" value="login">
    </form>
  

</div>