<div>

    <h1> Enter to the Game </h1>
    
    <h2> Enter your name <h2>
    <form method="post" action="confirm">
        <input type="string"  name="name">
        <h3> Enter your nickname or leave it blank and we will give you one<h3>
        <input type="string"  name="nickname">
        <input type="submit" value="login">
    </form>
  

</div>