<div>
    <h1><span style="background-color: #000000; color: #ffffff; padding: 0 3px;">Vacas y Toros Game</span>
    </h1>
    <h3><%=@result %></h3>
    <h3><%=    "You have "+ @intentosString +" more tries to adivinate"%>></h3>
    <form action="game">
    <input type="submit" value="Volver a intentar" />
    </form>
    
</div>