<div>
    <h1>LLene su nombre</h1>
    <form method="post" action="SaludoRegistro">
        <input id="name" type="string"  name="name">
        <input id="confirmar" type="submit" value="confirmar">
    </form>
</div>