<div>
    <h1><span style="background-color: #000000; color: #ffffff; padding: 0 3px;">Vacas y Toros Game</span>
    </h1>
    <h2>Elija modo de juego</h2>
    <form action="SelectType1">
        <input type="submit" value="Establecer codigo"> 
    </form>
    <form action="SelectType2">
        <input type="submit" value="Adivinar codigo"> 
    </form>
</div>